:root {
    --color-fontpad--: white;
    --color-fontsapn--: rgb(247, 27, 74);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: #191919;
    font-family: 'Josefin Sans',sans-serif;
}
/*Customização cabeçalho*/
header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

nav {
    padding: 20px;
    display: flex;
    top: 10px;
    justify-content: space-around;
    flex-direction: row;
    
}

nav h1 {
    color: var(--color-fontpad--);
    font-size: 50px;
    cursor: pointer;
    letter-spacing: 5px; 
    position: absolute;
    left: 50px;
}

nav span {
    color: var(--color-fontsapn--);
}

nav ul {
    position: fixed;
    right: 70px;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 5px;
}

nav ul li {
    font-size: 20px;
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
    
}

nav ul li a  {
    color: var(--color-fontpad--);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
 }

nav ul li a:hover {
    color: var(--color-fontsapn--);
    cursor: pointer;
    opacity: 0.8;
 }

header a button {
    position: fixed;
    left: 10px;
    top: 50%;
    color: rgb(151, 230, 33);
    background: transparent;
    border: none;
    cursor: pointer;
    animation: ef-pulse-grow 2s infinite;
}

header a svg:hover {
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

@keyframes ef-pulse-grow {
    to {
      -webkit-transform: scale(1.2,1.2);
      transform: scale(1.2,1.2);
    }
  }

.contents {
    width: 1200px;
    height: 500px;
    margin-bottom: 20px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
 .contents h4{
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
 }

 .contents h1 {
    color: var(--color-fontpad--);
    font-size: 50px;
    letter-spacing: 5px;
 }
 .contents h1 span {
    color: var(--color-fontsapn--);
 }

.contents h3 {
    color: var(--color-fontpad--);
    font-size: 25px;
    letter-spacing: 2px;
    width: 50%;
    padding: 10px 0px 10px 0px;
    position: relative;
}

.contents img {
    position:absolute;
    right: 400px;
    width: 270px;
    border-radius: 10px;
    right: 200px;
}

.contents a span {
    color: var(--color-fontsapn--);
}
.contents a {
    color: var(--color-fontpad--);
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    width: 450px;
    text-decoration: none;
    text-align: center;
    transform: translateX(+20px);
    transition: transform 0.10s;
    cursor: pointer;
}

.contents a::before {
    content: "";
    color: var(--color-fontsapn--);
    background: rgba(99, 208, 228,0.45);
    display: block;
    border-radius: 20px;
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: transform 300ms ease;
    transform-origin: right;
    transform: scaleX(0);
}

.contents a:hover::before {
    color: var(--color-fontsapn--);
    transform: scaleX(1);
    transform-origin: left;
}
/*customização "sobre mim"*/
.aboutme {
    width: 100%;
    height: 100vh;
    background: white ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.aboutme h1 {
    font-size: 60px;
    padding-top: 25px;
    left: 10%;
    position: absolute;
}


.containerabout {
    color: white;
    max-width: 1200px;
    min-width: 350px;
    height: 500px;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: rgba(0, 0, 0, 0.680) solid 5px;
    background: rgba(0, 0, 0, 0.680) ;
    border-radius: 20px;
}
.containerabout img {
    width: 420px;
    height: 420px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.945);
}

.containerabout p {
    font-size: 20px;
    width: 40%;
    letter-spacing: 1px;
    padding-top: 15px;
}

.containerabout p span {
    color: var(--color-fontsapn--);
}

/*customização meus conhecimentos*/

.skills {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h1 {
    font-size: 60px;
    color: white;
    padding: 25px;
    position: absolute;
    text-align: start;
    left: 4%;
}
.contentskills {
    max-width: 1200px;
    min-width: 350px;
    height: 500px;
    margin-top: 10%;
    margin-bottom: 20px;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-item {
    color: black;
    font-size: 20px;
    width: 200px;
    height: 200px;
    margin: 10px 50px 10px 50px;
    padding-top: 15px;
    text-align: center;
}

.skill-item img {
    width: 70px;
    height: 70px;
    padding-top: 10px;
}

.skill-item h3, p {
    padding-top: 15px;
}
/*estilização projetos*/

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > h1 {
    font-size: 60px;
    color: white;
    position: absolute;
    left: 4%;
    padding-top: 25px;
}

.slides {
    max-width: 1200px;
    min-width: 350px;
    height: 500px;
    margin-top: 7%;
    margin-bottom: 20px;
    background: rgb(255, 0, 51);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.slide {
    width: 1200px;
    height: 500px;
    display: flex;
    transition: 0.6s;
    animation: slide 15s infinite ease-in-out;;
}

.textproject {
    color: white;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.textproject h3{
    font-size: 50px;
    text-align: center;
    width: 250px;
    margin: 30px;
}

.textproject h5{
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

.textproject button {
    font-size: 23px;
    color: black;
    text-align: center;
    background: white;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 15px;
    margin:30px;
}

.textproject button:hover {
    font-size: 25px;
    color: rgb(255, 0, 51);
    background: rgba(0, 0, 0, 0.85)
}

.textproject button:active {
    font-size: 23px;
}
.imgproject img {
    width: 600px;
    height: 500px;
    padding: 10px;
    border-radius: 5%;
}

.navegation {
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    
}

.bar:hover {
    background-color: white;
    box-shadow: 0px 0px 10px white;
}

.bar:active{
    background-color: rgb(187, 187, 187);
    box-shadow: 0px 0px 10px white;
}

input {
    display: none;
}


#slide1:checked ~ .s1 {
    margin-left: 0;    
    
}

#slide2:checked ~ .s1 {
    margin-left: -1200px;    
}

/*Estilização rodape*/

.icon {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    color: white;
    margin: 10px;
    width: 55px;
    height: 55px;
    padding: 2px;
    border:white solid 2px;
    border-radius: 50%;
}

.icon svg:hover {
    color: var(--color-fontsapn--);
    border: var(--color-fontsapn--);
    width: 65px;
    height: 65px;
    transition: 0.4s;
}

footer p {
    color: var(--color-fontsapn--);
    text-align: center;
}

@media screen and (max-width:390px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    nav {
        width: 340px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    nav h1 {
        text-align: center;
        width: 340px;
        margin: auto;
        position: static;
        font-size: 40px;
    }

    nav ul {
        width: 320px;
        margin-top: 20px;
        position: fixed;
        text-align: center;
        display: none;
        flex-direction: column;
        justify-content: center;
    }

    .contents {
        width: 340px;
        height: 100vh;
        margin: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        justify-content: space-around;
        align-items: center;
    }

    .contents h3 {
        width: 340px;
        text-align: center;
    }
    .contents img {
        width: 200px;
        height: 300px;
        position: relative;
        right: inherit;
    }
    
    .aboutme {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
    }
}

